registry = http://monster/nexus/repository/npm/

emal=15080890+kannkyo@users.noreply.github.com
always-auth=true
# echo -n 'user_name:pass_word' | openssl base64
_auth=a2Fubmt5bzpLaWdlbjIxMS1naXRodWI=
